/*** reset ***/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*** common ***/
body{
    font-family: sans-serif;
}

ul {
    list-style: none;
}

.link-menu {
    display: flex;
}

a {
    text-decoration: none;
    color: #ffff;
}

.boolean{
    width: 100px;
}

h2 {
    font-size: 17px;
}

h3 {
    font-size: 15px;
    padding-bottom: 10px;
    color: #fff;
}

span {
    color: #ff0000;
    font-size: 15px;
}

.originale {
    color: #000;
    text-decoration: line-through;
}

/*** header ***/

header{
    background-color: #ff6900;
    padding: 15px 0;
    border-bottom: 2px solid #9e9e9e;
    position: sticky;
    top: 0;
    z-index: 2;
    
}

 .main-nav{
    display: flex;
    align-items: center;
}

 .main-nav>div{
    padding: 10px;
}

 .main-nav>div.generi,
 .main-nav>div.icone {
    flex-shrink: 0;
    flex-grow: 1;
}

.icone{
    text-align: end;
    color: #fff;
}

.icone i {
    padding-left: 10px;
}

.main-nav>div.logo {
    width: 240px;
    flex-shrink: 0;
    text-align: center;
}

header .generi ul{
    gap: 10px;
    font-size: 14px;
}


/*** container ***/

.container {
    margin: 0 auto;
    width: 1380px;
    
}


/*** main ***/

main {
    padding: 60px 0;
}

.central-nav{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

main .central-nav>div.modelli {
    width: 450px;
}

.modelli img {
    width: 100%;
}

.img-hover{
    position: absolute;
    top: 0;
    opacity: 0;
}

.img-hover:hover{
    opacity: 1;
    transition: 0.2s;
}

.offerta {
    padding: 5px;
    background-color: #ff0000;
    color: #fff;
    position: absolute;
    bottom: 140px;

}

.sostenibilita {
    padding: 5px;
    background-color: #008000;
    color: #fff;
    position: absolute;
    bottom: 140px;
    left: 0px;
}

.sostenibilita-1 {
    padding: 5px;
    background-color: #008000;
    color: #fff;
    position: absolute;
    bottom: 140px;
    left: 50px;
}

.modelli{
    position: relative;
    padding-bottom: 30px;
}

.cuore {
    position: absolute;
    background-color: #fff;
    font-size: 25px;
    padding: 10px;
    top: 10px;
    right: 0;
}

.cuore:hover{
    color: #ff0000;
}

/*** footer ***/

footer{
    height: 100px;
    background-color: #000;
    border-bottom: 2px solid white;
    padding: 15px 0;
}

footer .footer-nav{
    display: flex;
    justify-content: space-between;
}

footer .footer-nav>div{
    padding: 10px;
}

footer .info ul{
    gap: 10px;
    font-size: 14px;
}

footer .icone-foot h3{
    font-size: 12px;
}

footer .icone-foot ul {
    gap: 10px;
    font-size: 13px;
}

.link-menu i {
    color: #fff;
}