/*** reset ***/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*** header ***/

header{
    background-color: #ff6900;
    padding: 15px 0;
}

header .main-nav{
    display: flex;
    background-color: blue;
}

header .main-nav>div{
    padding: 10px;
    border: 2px solid black;
}

header .main-nav>div.generi,
header .main-nav>div.icone {
    width: 240px;
    flex-shrink: 0;
}

header .main-nav>div.logo {
    flex-grow: 1;
    text-align: center;
}

/*** container ***/

.container {
    margin: 0 auto;
    width: 1380px;
}


/*** main ***/

main {
    background-color: aquamarine;
    padding: 60px 0;
}

main .central-nav{
    display: flex;
    background-color: rgb(143, 226, 8);
    flex-wrap: wrap;
    gap: 10px;
}

main .central-nav>div{
    border: 2px solid black;   
}

main .central-nav>div.modelli {
    height: 700px;
    width: 450px;
}

/*** footer ***/

footer{
    height: 70px;
    background-color: #000;
    border-bottom: 2px solid white;
    padding: 15px 0;
}

footer .footer-nav{
    display: flex;
    background-color: blueviolet;
    justify-content: space-between;
}

footer .footer-nav>div{
    padding: 10px;
    border: 2px solid #ff6900;
}